.posrel {position: relative !important;}
.posabs	{position: absolute !important;}

.c14 {
    width: 14px;
    position: relative;
    top: -1px;
}
.c14.left {
    margin-right: 5px;
}
.c14.right {
    margin-left: 5px;
}

.shadow {box-shadow: 0 12px 30px 0 rgba(0, 0, 0, 0.1) !important;}
.shadow-1 {box-shadow: 0px 1px 6px 0px rgba(49,53,59,0.12) !important;}
.shadow-2 {box-shadow: 0 4px 6px -1px rgba(0,0,0,0.07) !important;}

.radius-8 {border-radius: 8px;}

.padding {padding: 32px 32px 42px !important;}
.padding-1 {padding: 10px 8px 9px 12px !important;}

.fw-400 {font-weight: 400;}
.fw-600 {font-weight: 600;}
.fw-800 {font-weight: 800;}

.trans-0 {transition: none;}
.trans-01 {transition: all 0.1s ease-in-out !important;}
.trans-02 {transition: all 0.2s ease-in-out !important;}

.brd-right {border-right: 1px solid rgba(255,255,255,0.1);}
.brd-bottom {border-bottom: 1px solid rgba(255,255,255,0.1);}

.lst {list-style-type: none;}

.bg-white {background: white !important;}
.bg-00-02 {background: rgba(0,0,0,0.2);}
.bg-00-03 {background: rgba(0,0,0,0.3);}
.bg-00-04 {background: rgba(0,0,0,0.4);}
.bg-00-05 {background: rgba(0,0,0,0.5);}
.bg-00-06 {background: rgba(0,0,0,0.6);}

.w20 {width: 20%;}
.w25 {width: 25%;}
.w33 {width: 33.33%;}
.w50 {width: 50%;}

.color-333 {color: #333 !important;}
.color-666 {color: #666 !important;}
.color-999 {color: #999 !important;}
.color-aaa {color: #aaa !important;}
.color-main {color: #E91E63 !important;}
.color-yellow {color: #ff9800 !important;}
.color-orange {color: #ff5722 !important;}
.color-white {color: #fff !important;}

.color-normal {color: rgba(0,0,0,55) !important;}
.color-1 {color: rgba(49,53,59,0.96) !important;}
.color-2 {color: rgba(0,0,0,.38) !important;}

.hov-color-main:hover {color: #E91E63 !important;}
.hov-color-1:hover {color: rgba(49,53,59,0.96) !important;}
.hov-color-2:hover {color: rgba(0,0,0,.38) !important;}

.opacity-01 {opacity: 0.1 !important}
.opacity-02 {opacity: 0.2 !important}
.opacity-03 {opacity: 0.3 !important}
.opacity-04 {opacity: 0.4 !important}
.opacity-05 {opacity: 0.5 !important}
.opacity-06 {opacity: 0.6 !important}
.opacity-07 {opacity: 0.7 !important}
.opacity-08 {opacity: 0.8 !important}
.opacity-09 {opacity: 0.9 !important}
.opacity-1 {opacity: 1 !important}

.w10 {width: 10px !important;}
.w12 {width: 12px !important;}
.w14 {width: 14px !important;}
.w16 {width: 16px !important;}
.w18 {width: 18px !important;}
.w20 {width: 20px !important;}
.w22 {width: 22px !important;}
.w24 {width: 24px !important;}
.w26 {width: 26px !important;}
.w28 {width: 28px !important;}
.w30 {width: 30px !important;}
.w32 {width: 32px !important;}
.w34 {width: 34px !important;}
.w36 {width: 36px !important;}
.w38 {width: 38px !important;}
.w40 {width: 40px !important;}
.w42 {width: 42px !important;}
.w44 {width: 44px !important;}
.w46 {width: 46px !important;}
.w48 {width: 48px !important;}
.w50 {width: 50px !important;}
.w52 {width: 52px !important;}
.w54 {width: 54px !important;}
.w56 {width: 56px !important;}
.w58 {width: 58px !important;}
.w60 {width: 60px !important;}
.w62 {width: 62px !important;}
.w64 {width: 64px !important;}
.w66 {width: 66px !important;}
.w68 {width: 68px !important;}
.w70 {width: 70px !important;}
.w72 {width: 72px !important;}
.w74 {width: 74px !important;}
.w76 {width: 76px !important;}
.w78 {width: 78px !important;}
.w80 {width: 80px !important;}
.w82 {width: 82px !important;}
.w84 {width: 84px !important;}
.w86 {width: 86px !important;}
.w88 {width: 88px !important;}
.w90 {width: 90px !important;}
.w92 {width: 92px !important;}
.w94 {width: 94px !important;}
.w96 {width: 96px !important;}
.w98 {width: 98px !important;}
.w100 {width: 100% !important;}

.bt-0 {border-top:0px !important;}
.bb-0 {border-bottom:0px !important;}

.text-uppercase {text-transform: uppercase !important;}

.font-10 {font-size: 10px !important;}
.font-11 {font-size: 11px !important;}
.font-12 {font-size: 12px !important;}
.font-13 {font-size: 13px !important;}
.font-14 {font-size: 14px !important;}
.font-15 {font-size: 15px !important;}
.font-16 {font-size: 16px !important;}
.font-17 {font-size: 17px !important;}
.font-18 {font-size: 18px !important;}
.font-19 {font-size: 19px !important;}
.font-20 {font-size: 20px !important;}
.font-21 {font-size: 21px !important;}
.font-22 {font-size: 22px !important;}
.font-23 {font-size: 23px !important;}
.font-24 {font-size: 24px !important;}
.font-25 {font-size: 25px !important;}
.font-26 {font-size: 26px !important;}
.font-27 {font-size: 27px !important;}
.font-28 {font-size: 28px !important;}
.font-29 {font-size: 29px !important;}
.font-30 {font-size: 30px !important;}
.font-31 {font-size: 31px !important;}
.font-32 {font-size: 32px !important;}
.font-33 {font-size: 33px !important;}
.font-34 {font-size: 34px !important;}
.font-35 {font-size: 35px !important;}
.font-36 {font-size: 36px !important;}
.font-37 {font-size: 37px !important;}
.font-38 {font-size: 38px !important;}
.font-39 {font-size: 39px !important;}
.font-40 {font-size: 40px !important;}
.font-41 {font-size: 41px !important;}
.font-42 {font-size: 42px !important;}
.font-43 {font-size: 43px !important;}
.font-44 {font-size: 44px !important;}
.font-45 {font-size: 45px !important;}
.font-46 {font-size: 46px !important;}
.font-47 {font-size: 47px !important;}
.font-48 {font-size: 48px !important;}
.font-49 {font-size: 49px !important;}
.font-50 {font-size: 50px !important;}

.m-0 {margin:0px !important;}
.m-10 {margin:10px !important;}
.m-20 {margin:20px !important;}
.m-30 {margin:30px !important;}
.m-40 {margin:40px !important;}
.m-50 {margin:50px !important;}
.m-60 {margin:60px !important;}
.m-70 {margin:70px !important;}
.m-80 {margin:80px !important;}
.m-90 {margin:90px !important;}
.m-100 {margin:100px !important;}

.mt-0 {margin-top:0px !important;}
.mt-10 {margin-top:10px !important;}
.mt-20 {margin-top:20px !important;}
.mt-30 {margin-top:30px !important;}
.mt-40 {margin-top:40px !important;}
.mt-50 {margin-top:50px !important;}
.mt-60 {margin-top:60px !important;}
.mt-70 {margin-top:70px !important;}
.mt-80 {margin-top:80px !important;}
.mt-90 {margin-top:90px !important;}
.mt-100 {margin-top:100px !important;}

.mb-0 {margin-bottom:0px !important;}
.mb-10 {margin-bottom:10px !important;}
.mb-20 {margin-bottom:20px !important;}
.mb-30 {margin-bottom:30px !important;}
.mb-40 {margin-bottom:40px !important;}
.mb-50 {margin-bottom:50px !important;}
.mb-60 {margin-bottom:60px !important;}
.mb-70 {margin-bottom:70px !important;}
.mb-80 {margin-bottom:80px !important;}
.mb-90 {margin-bottom:90px !important;}
.mb-100 {margin-bottom:100px !important;}

.ml-0 {margin-left:0px !important;}
.ml-10 {margin-left:10px !important;}
.ml-20 {margin-left:20px !important;}
.ml-30 {margin-left:30px !important;}
.ml-40 {margin-left:40px !important;}
.ml-50 {margin-left:50px !important;}
.ml-60 {margin-left:60px !important;}
.ml-70 {margin-left:70px !important;}
.ml-80 {margin-left:80px !important;}
.ml-90 {margin-left:90px !important;}
.ml-100 {margin-left:100px !important;}

.mr-0 {margin-right:0px !important;}
.mr-10 {margin-right:10px !important;}
.mr-20 {margin-right:20px !important;}
.mr-30 {margin-right:30px !important;}
.mr-40 {margin-right:40px !important;}
.mr-50 {margin-right:50px !important;}
.mr-60 {margin-right:60px !important;}
.mr-70 {margin-right:70px !important;}
.mr-80 {margin-right:80px !important;}
.mr-90 {margin-right:90px !important;}
.mr-100 {margin-right:100px !important;}

.p-10 {padding: 10px !important;}
.p-20 {padding: 20px !important;}
.p-30 {padding: 30px !important;}
.p-40 {padding: 40px !important;}
.p-50 {padding: 50px !important;}
.p-60 {padding: 60px !important;}
.p-70 {padding: 70px !important;}
.p-80 {padding: 80px !important;}
.p-90 {padding: 90px !important;}
.p-100 {padding: 100px !important;}

.pt-0 {padding-top:0px !important;}
.pt-10 {padding-top:10px !important;}
.pt-20 {padding-top:20px !important;}
.pt-30 {padding-top:30px !important;}
.pt-40 {padding-top:40px !important;}
.pt-50 {padding-top:50px !important;}
.pt-60 {padding-top:60px !important;}
.pt-70 {padding-top:70px !important;}
.pt-80 {padding-top:80px !important;}
.pt-90 {padding-top:90px !important;}
.pt-100 {padding-top:100px !important;}

.pb-0 {padding-bottom:0px !important;}
.pb-10 {padding-bottom:10px !important;}
.pb-20 {padding-bottom:20px !important;}
.pb-30 {padding-bottom:30px !important;}
.pb-40 {padding-bottom:40px !important;}
.pb-50 {padding-bottom:50px !important;}
.pb-60 {padding-bottom:60px !important;}
.pb-70 {padding-bottom:70px !important;}
.pb-80 {padding-bottom:80px !important;}
.pb-90 {padding-bottom:90px !important;}
.pb-100 {padding-bottom:100px !important;}

.pl-0 {padding-left:0px !important;}
.pl-10 {padding-left:10px !important;}
.pl-20 {padding-left:20px !important;}
.pl-30 {padding-left:30px !important;}
.pl-40 {padding-left:40px !important;}
.pl-50 {padding-left:50px !important;}
.pl-60 {padding-left:60px !important;}
.pl-70 {padding-left:70px !important;}
.pl-80 {padding-left:80px !important;}
.pl-90 {padding-left:90px !important;}
.pl-100 {padding-left:100px !important;}

.pr-0 {padding-right:0px !important;}
.pr-10 {padding-right:10px !important;}
.pr-20 {padding-right:20px !important;}
.pr-30 {padding-right:30px !important;}
.pr-40 {padding-right:40px !important;}
.pr-50 {padding-right:50px !important;}
.pr-60 {padding-right:60px !important;}
.pr-70 {padding-right:70px !important;}
.pr-80 {padding-right:80px !important;}
.pr-90 {padding-right:90px !important;}
.pr-100 {padding-right:100px !important;}

@media (max-width: 768px) {
    .mt-xs-0 {margin-top:0px !important;}
    .mt-xs-10 {margin-top:10px !important;}
    .mt-xs-20 {margin-top:20px !important;}
    .mt-xs-30 {margin-top:30px !important;}
    .mt-xs-40 {margin-top:40px !important;}
    .mt-xs-50 {margin-top:50px !important;}
    .mt-xs-60 {margin-top:60px !important;}
    .mt-xs-70 {margin-top:70px !important;}
    .mt-xs-80 {margin-top:80px !important;}
    .mt-xs-90 {margin-top:90px !important;}
    .mt-xs-100 {margin-top:100px !important;}

    .mb-xs-0 {margin-bottom:0px !important;}
    .mb-xs-10 {margin-bottom:10px !important;}
    .mb-xs-20 {margin-bottom:20px !important;}
    .mb-xs-30 {margin-bottom:30px !important;}
    .mb-xs-40 {margin-bottom:40px !important;}
    .mb-xs-50 {margin-bottom:50px !important;}
    .mb-xs-60 {margin-bottom:60px !important;}
    .mb-xs-70 {margin-bottom:70px !important;}
    .mb-xs-80 {margin-bottom:80px !important;}
    .mb-xs-90 {margin-bottom:90px !important;}
    .mb-xs-100 {margin-bottom:100px !important;}

    .ml-xs-0 {margin-left:0px !important;}
    .ml-xs-10 {margin-left:10px !important;}
    .ml-xs-20 {margin-left:20px !important;}
    .ml-xs-30 {margin-left:30px !important;}
    .ml-xs-40 {margin-left:40px !important;}
    .ml-xs-50 {margin-left:50px !important;}
    .ml-xs-60 {margin-left:60px !important;}
    .ml-xs-70 {margin-left:70px !important;}
    .ml-xs-80 {margin-left:80px !important;}
    .ml-xs-90 {margin-left:90px !important;}
    .ml-xs-100 {margin-left:100px !important;}

    .mr-xs-0 {margin-right:0px !important;}
    .mr-xs-10 {margin-right:10px !important;}
    .mr-xs-20 {margin-right:20px !important;}
    .mr-xs-30 {margin-right:30px !important;}
    .mr-xs-40 {margin-right:40px !important;}
    .mr-xs-50 {margin-right:50px !important;}
    .mr-xs-60 {margin-right:60px !important;}
    .mr-xs-70 {margin-right:70px !important;}
    .mr-xs-80 {margin-right:80px !important;}
    .mr-xs-90 {margin-right:90px !important;}
    .mr-xs-100 {margin-right:100px !important;}

    .pt-xs-0 {padding-top:0px !important;}
    .pt-xs-10 {padding-top:10px !important;}
    .pt-xs-20 {padding-top:20px !important;}
    .pt-xs-30 {padding-top:30px !important;}
    .pt-xs-40 {padding-top:40px !important;}
    .pt-xs-50 {padding-top:50px !important;}
    .pt-xs-60 {padding-top:60px !important;}
    .pt-xs-70 {padding-top:70px !important;}
    .pt-xs-80 {padding-top:80px !important;}
    .pt-xs-90 {padding-top:90px !important;}
    .pt-xs-100 {padding-top:100px !important;}

    .pb-xs-0 {padding-bottom:0px !important;}
    .pb-xs-10 {padding-bottom:10px !important;}
    .pb-xs-20 {padding-bottom:20px !important;}
    .pb-xs-30 {padding-bottom:30px !important;}
    .pb-xs-40 {padding-bottom:40px !important;}
    .pb-xs-50 {padding-bottom:50px !important;}
    .pb-xs-60 {padding-bottom:60px !important;}
    .pb-xs-70 {padding-bottom:70px !important;}
    .pb-xs-80 {padding-bottom:80px !important;}
    .pb-xs-90 {padding-bottom:90px !important;}
    .pb-xs-100 {padding-bottom:100px !important;}

    .pl-xs-0 {padding-left:0px !important;}
    .pl-xs-10 {padding-left:10px !important;}
    .pl-xs-15 {padding-left:15px !important;}
    .pl-xs-20 {padding-left:20px !important;}
    .pl-xs-30 {padding-left:30px !important;}
    .pl-xs-40 {padding-left:40px !important;}
    .pl-xs-50 {padding-left:50px !important;}
    .pl-xs-60 {padding-left:60px !important;}
    .pl-xs-70 {padding-left:70px !important;}
    .pl-xs-80 {padding-left:80px !important;}
    .pl-xs-90 {padding-left:90px !important;}
    .pl-xs-100 {padding-left:100px !important;}

    .pr-xs-0 {padding-right:0px !important;}
    .pr-xs-10 {padding-right:10px !important;}
    .pr-xs-20 {padding-right:20px !important;}
    .pr-xs-30 {padding-right:30px !important;}
    .pr-xs-40 {padding-right:40px !important;}
    .pr-xs-50 {padding-right:50px !important;}
    .pr-xs-60 {padding-right:60px !important;}
    .pr-xs-70 {padding-right:70px !important;}
    .pr-xs-80 {padding-right:80px !important;}
    .pr-xs-90 {padding-right:90px !important;}
    .pr-xs-100 {padding-right:100px !important;}
}

.spacer-5 {height: 5px;}
.spacer-10 {height: 10px;}
.spacer-20 {height: 20px;}
.spacer-50 {height: 50px;}