.panel-sub ul {
	width: 100%;
    height: 100%;
    top: -7px;
    position: relative;
}
.panel-sub li a {
	display: block;
	line-height: 38px;
	color: rgba(0,0,0,.38);
}
.panel-sub li a:hover {
	color: #E91E63;
}
.panel-sub li.active a {
	border-bottom: 2px solid #E91E63;
	font-weight: 800;
	color: #E91E63;
}